<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
</head>
<body>
    <!-- Determine facts about me life.-->
    <h1>Abraam Benitez</h1>
    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" width="267" height="72" alt="Smith Logo">
    <!-- Creating a list of my past experiences.-->
    <h2>Here is my College Experience!</h2>
    <p>I am a <strong>Senior</strong> at the Robert H. Smith school of business!</p>
    <ul>
        <li>VP of ALPFA</li>
        <li>Member of SBA</li>
    </ul>
    <h2>My Sport Experience</h2>
    <p>I am a wrestler and I coach at Northwestern high school.</p>
    <ol>
        <li><em>127 Wins</em></li>
        <li>Only person to have over <em>100</em> wins at Northwestern</li>
        <li><strong>Regional Champ</strong></li>
    </ol>
    <table>
        <tr>
            <th>Course</th>
            <th>Semester</th>
        </tr>
        <tr>
            <td>BMGT302</td>
            <td>Spring</td>
        </tr>
        <tr>
            <td>BMGT407</td>
            <td>Spring</td>
        </tr>
        <tr>
            <td>BMGT408</td>
            <td>Spring</td>
        </tr>
    </table>
    <!--Creating links to my favorite links.-->
    <p>Here is the link to my other page <a href="http://127.0.0.1:5000/hello" target="_blank">Hello Page</a></p>
    <p>Here is a link to my favorite show <a href="https://www.crunchyroll.com/series/GYQ4MW246/naruto-shippuden" target="_blank">Naruto Show</a></p>
    <p>Here is the link to my highlight tape<a href="https://www.youtube.com/watch?v=U5nbSGdQpOE&t=81s" target="_blank"> Highlight Tape</a></p>
</body>
</html>